<div class="me-base" (mousemove)="onMouseMove($event)">
    <div class="content-container">
        <div class="row h-100">
            <div class="col-md-4 left-column">
                <div class="info-container-1">
                    <div class="left-info-container">
                        <h2 class="left-title ms-4 mb-5">Who am i?</h2>
                        <p class="left-text ms-4 mt-5 mb-0">
                            I am a Chilean software engineer and frontend developer.
                        </p>
                        <p class="left-text ms-4 mt-0">
                            I graduated from the Universidad de Talca in Chile with a degree in Civil Engineering in Computer Science and obtained a
                            minor in the area.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 middle-column">
                <div class="info-container-2">
                    <div class="image-container">
                        <img src="../../../assets/blob-1.svg" alt="blob-1" class="blob-1">
                        <img src="../../../assets/blob-2.svg" alt="blob-2" class="blob-2">
                    </div>
                </div>
            </div>
            <div class="col-md-4 right-column">
                <div class="info-container-3">
                    <div class="right-info-container">
                        <h2 class="right-title text-end my-5 me-4">Why?</h2>
                        <p class="right-text text-end mt-5 me-4">
                            I am passionate about creating beautiful and functional web applications. I am always looking for new challenges and opportunities to learn and grow.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>