<div #scrollContainer class="base overflow-hidden">

  <div class="sidebar d-flex flex-column gap-3 p-3">
    <div class="home-sidebar-container">
      <i class="bi bi-house-fill icon" data-bs-toggle="tooltip" data-bs-placement="right" title="Home"
        data-bs-class="tooltip-custom" data-bs-offset="[0, 16, 0, 0]" (click)="scrollToSection(0)"></i>
    </div>
    <div class="me-sidebar-container">
      <i class="bi bi-person-square icon" data-bs-toggle="tooltip" data-bs-placement="right" title="About me"
        data-bs-class="tooltip-custom" data-bs-offset="[0, 16, 0, 0]" (click)="scrollToSection(1)"></i>
    </div>
    <div class="projects-sidebar-container">
      <i class="bi bi-code-square icon" data-bs-toggle="tooltip" data-bs-placement="right" title="Projects"
        data-bs-class="tooltip-custom" data-bs-offset="[0, 16, 0, 0]" (click)="scrollToSection(2)"></i>
    </div>
    <div class="skills-sidebar-container">
      <i class="bi bi-clipboard-data icon" data-bs-toggle="tooltip" data-bs-placement="right" title="Skills"
        data-bs-class="tooltip-custom" data-bs-offset="[0, 16, 0, 0]" (click)="scrollToSection(3)"></i>
    </div>
    <div class="contact-sidebar-container">
      <i class="bi bi-person-rolodex icon" data-bs-toggle="tooltip" data-bs-placement="right" title="Contact"
        data-bs-class="tooltip-custom" data-bs-offset="[0, 16, 0, 0awsdawsd]" (click)="scrollToSection(4)"></i>
    </div>
  </div>

  <div id='sectionContainer' class="sections-container">
    <div #section1 class="home-container">
      <app-home></app-home>
    </div>
    <div #section2 class="me-container">
      <app-me></app-me>
    </div>
    <div #section3 class="projects-container">
      <app-projects></app-projects>
      
    </div>
    <div #section4 class="skills-container">
      <app-skills></app-skills>
    </div>
    <div #section5 class="contact-container">
      <app-contact></app-contact>
    </div>
  </div>
</div>