<div class="contact-base">
    <div class="content-container row">
        <div class="col-md-6 first-col">
            <div class="contact-text-container m-0 p-0 d-flex flex-column gap-3 justify-content-center align-items-center ">
                <h3 class="contact-text w-75">I'm always interested in chatting</h3>
                <h3 class="contact-text w-75">You can find me on my social networks!</h3>
            </div>
        </div>
        <div class="col-md-6 second-col m-0 p-0">
            <div class="social-networks-container">
                <div class="social-networks-list">
                    <div class="row p-0 m-0 h-100">
                        <div class="linkedin-col col-md-6 col-6 p-4 m-0">
                            <div class="linkedin-container mouse-pointer" (mouseenter)="enterTo('linkedin')" (click)="redirectTo('linkedin')">
                                <img src="../../../assets/social networks/linkedin.svg" alt="linkedin-svg" class="icon">
                            </div>
                        </div>
                        <div class="instagram-col col-md-6 col-6 p-4 m-0">
                            <div class="instagram-container mouse-pointer" (mouseenter)="enterTo('instagram')" (click)="redirectTo('instagram')">
                                <img src="../../../assets/social networks/instagram.svg" alt="linkedin-svg" class="icon">
                            </div>
                        </div>
                        <div class="github-col col-md-6 col-6 p-4 m-0">
                            <div class="github-container mouse-pointer" (mouseenter)="enterTo('github')" (click)="redirectTo('github')">
                                <img src="../../../assets/social networks/github.svg" alt="linkedin-svg" class="icon">
                            </div>
                        </div>
                        <div class="gmail-col col-md-6 col-6 p-4 m-0">
                            <div class="gmail-container mouse-pointer" (mouseenter)="enterTo('gmail')" (click)="redirectTo('gmail')">
                                <img src="../../../assets/social networks/gmail.svg" alt="linkedin-svg" class="icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>